DATABASE_URL=postgresql://user:password@lhost:1111/name
TELEGRAM_BOT_TOKEN=
BOOKING_RESERVATION_MINUTES=60
BOOKING_EXPIRATION_INTERVAL_SECONDS=60
JWT_SECRET=change_me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
DEBUG=FALSE